html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: rgb(38, 73, 153);
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

pre {
  margin: 0;
}

code {
  color: rgb(92, 38, 153);
}
